<div class="card">
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <form
          action="/views/admin/editpostagens.handlebars"
          method="post"
        ></form>
        <h4>
          SALVAMENTO erro1
        </h4>
        <p>
          O erro pode ter sido um erro de salvamento
        </p>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-body">
        <h4>
          SEM NOME erro2
        </h4>
        <p>
          O erro pode ter sido enviado por voce ter criado um post sem nome. crie mas bote um nome
        </p>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-body">
        <h4>
          POST SEM SLUG erro3
        </h4>
        <p>
          O erro pode ter sido enviado por que voce nao deve ter botado um slug no post
        </p>
      </div>
    </div>
  </div>
</div>