<div class="card">
  <div class="card-body">
    <h4>COMO CRIAR UM POST tutorialN1</h4>
    <div class="card">
      <div class="card-body">
        <h4>para criar um post so basta voce clicar no botao "criar post" que voce ira para uma pagina em que tem um "nome" e um "slug" quando voce termina de botar o "nome" e o "slug" basta aperta no botao "criar" que criara um post com o "nome" que voce botou e o "slug" que voce botou e tambem ira aparecer uma "data de criação" mas a data voce nao bota so aparece mesmo.</h4>
      </div>
    </div>
  </div>
</div>